<div id="navigation"></div>
<div class="comparisons"><div class="wrapper">
  <div class="pieChart"></div>
  <div id="comparisons"></div>
  <span class="close">Close</span>
</div></div>

<div id="transcript" class="layer container transcript">
	<div class="wrapper">
		<div id="overlay" class="container"></div>
		<!-- Grid test -->
		<div class="span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1"></div>
		<div class="push-1 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-2 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-3 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-4 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-5 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>

		<span class="testZ" style="top:100px;">one</span>
		<span class="testZ" style="top:200px;">two</span>
		<span class="testZ" style="top:300px;">three</span>
		<span class="testZ" style="top:400px;">four</span>
		<span class="testZ" style="top:500px;">five</span>
		<span class="testZ" style="top:600px;">six</span>
		<span class="testZ" style="top:700px;">seven</span>
		<span class="testZ" style="top:800px;">eight</span>
		<span class="testZ" style="top:900px;">nine</span>
		<span class="testZ" style="top:1000px;">ten</span>
		<span class="testZ" style="top:1100px;">eleven</span>
		<span class="testZ" style="top:1200px;">twelve</span>
		<span class="testZ" style="top:1300px;">thirteen</span>
		<span class="testZ" style="top:1400px;">fourteen</span>
		<span class="testZ" style="top:1500px;">fifteen</span>
		
		<span class="testZno" style="top:100px;">one</span>
		<span class="testZno" style="top:200px;">two</span>
		<span class="testZno" style="top:300px;">three</span>
		<span class="testZno" style="top:400px;">four</span>
		<span class="testZno" style="top:500px;">five</span>
		<span class="testZno" style="top:600px;">six</span>
		<span class="testZno" style="top:700px;">seven</span>
		<span class="testZno" style="top:800px;">eight</span>
		<span class="testZno" style="top:900px;">nine</span>
		<span class="testZno" style="top:1000px;">ten</span>
		<span class="testZno" style="top:1100px;">eleven</span>
		<span class="testZno" style="top:1200px;">twelve</span>
		<span class="testZno" style="top:1300px;">thirteen</span>
		<span class="testZno" style="top:1400px;">fourteen</span>
		<span class="testZno" style="top:1500px;">fifteen</span>
	</div>
</div>

