<div id="navigation"></div>
<div class="comparisons"><div class="wrapper">
  <div id="comparisons"></div>
  <span class="close">     Close</span>
</div></div>

<div id="bigWords"></div>
<div id="transcript" class="layer container transcript">
	<div class="wrapper">
		<div id="overlay" class="container"></div>
		<!-- Grid test -->
		<div id="testGrid" style="visibility:hidden">
			<div class="span-1" style="position:absolute; height:200%; background-color:white; opacity:0.05"></div>
			<div class="push-1 span-1" style="position:absolute; height:200%; background-color:white; opacity:0.05;"></div>
			<div class="push-2 span-1" style="position:absolute; height:200%; background-color:white; opacity:0.05;"></div>
			<div class="push-3 span-1" style="position:absolute; height:200%; background-color:white; opacity:0.05;"></div>
			<div class="push-4 span-1" style="position:absolute; height:200%; background-color:white; opacity:0.05;"></div>
			<div class="push-5 span-1" style="position:absolute; height:200%; background-color:white; opacity:0.05;"></div>
		</div>

		<!--
		<span id="testZ1" class="testZ" style="left: 0px; top:600px;">one</span>
		<span id="testZ2" class="testZ" style="left:160px; top:650px;">two</span>
		<span id="testZ3" class="testZ" style="left:320px; top:600px;">three</span>
		<span id="testZ4" class="testZ" style="left:480px; top:650px;">four</span>
		<span id="testZ5" class="testZ" style="left:640px; top:600px;">five</span>
		<span id="testZ6" class="testZ" style="left:800px; top:650px;">six</span>
		
		<span class="testZno" style="top:600px;">one</span>
		<span class="testZno push-1" style="top:600px;">two</span>
		<span class="testZno push-2" style="top:600px;">three</span>
		<span class="testZno push-3" style="top:600px;">four</span>
		<span class="testZno push-4" style="top:600px;">five</span>
		<span class="testZno push-5" style="top:600px;">six</span>
		-->
		<!-- <div id="curParagraph"></div> -->
	</div>
</div>
<div id="landing" class="layer container"></div>

