<div id="navigation"></div>
<div class="comparisons"><div class="wrapper">
  <div class="pieChart"></div>
  <div id="comparisons"></div>
  <span class="close">Close</span>
</div></div>

<div id="transcript" class="layer container transcript">
	<div class="wrapper">
		<div id="overlay" class="container"></div>
		<!-- Grid test -->
		<div class="span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1"></div>
		<div class="push-1 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-2 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-3 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-4 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
		<div class="push-5 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.1;"></div>
	</div>
</div>

