/* H5BP styles. */
@import "../../vendor/assets/h5bp/css/style.css";
@import "fluid_grid.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */ 

/* Put development-only CSS below this line. */

body {
  background: -webkit-linear-gradient(left, #7c7b75, #9e9e97, #7f7d76);
}

.layer {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.wrapper {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: scroll;
}


.transcript .wrapper {
  -webkit-transition: -webkit-transform .5s linear; 
  transition: all .5s linear;
}

h1 {
  text-decoration: underline;
  color: #FFF;
  font-family: "Helvetica";
  font-weight: normal;
  font-style: italic;
  line-height: 30px;
}

p {
  line-height: 18px;
  text-shadow: 0px 0px 1px #525252;
  font-size: 14px;
}

.fade {
  -webkit-transform: scale(.4);
  opacity: .5;
  top: -75%;
  height: 250%;
}

.speaker.active {
  z-index: 5000;
}

.speaker .active.wrapper {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.speaker .wrapper {
  -webkit-transition:  .5s linear; 
  transition:  .5s linear; 
  -webkit-transform: scale(0);
  transform: scale(0);
}

.pieChart {
  position: relative;
  top: 20px;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #ffe745;
  opacity: .5;
}

#navigation {
	position: fixed;
	padding: 10px;
	z-index: 10;
}


/*
#transcript {
	width: 1200px;
	overflow-y: scroll;
	font-family: serif;
}

#newWordMeta {
	position: absolute;
	font-size: 200%;
}

.moderator {
	width: 400px;
	padding-left:400px;
	display: block;
	color: gray;
}

.obama {
	width: 600px;
	padding-right:600px;
	display: block;
	color: purple;
}

.romney {
	width: 600px;
	padding-left: 600px;
	display: block;
	color: green;
}

.speakerName {
	font-size: 400%;
	font-weight: bold;
	font-family: Helvetica;
	display: block;
}


.chapterButton {
	color: white;
	background-color: black;
	padding: 1px 4px 1px 2px;
	margin: 2px;
}

.comparison {
	background-color: yellow;
	width: 1024px;
	height: 768px;
	font-family: Helvetica;
	font-size: 64px;
	font-color: black;
}
*/

