/* H5BP styles. */
@import "../../vendor/assets/h5bp/css/style.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */ 

/* Put development-only CSS below this line. */



#transcript {
	width: 1200px;
	font-family: serif;
}

.moderator {
	width: 400px;
	padding-left:400px;
	display: block;
	color: gray;
}

.obama {
	width: 600px;
	padding-right:600px;
	display: block;
	color: purple;
}

.romney {
	width: 600px;
	padding-left: 600px;
	display: block;
	color: green;
}

.speakerName {
	font-size: 400%;
	font-weight: bold;
	font-family: Helvetica;
	display: block;
}

.comparison {
	background-color: yellow;
	width: 1024px;
	height: 768px;
	font-family: Helvetica;
	font-size: 64px;
	font-color: black;
}

