<div class="compareContainer count elskrollable" data-<%= (scrollY-scrollDet-scrollD) %>="top:100%;" data-<%= (scrollY-scrollDet) %>="top:0%;" data-<%= (scrollY+scrollDet) %>="top:0%;" data-<%= (scrollY+scrollDet+scrollD) %>="top:-300%;">

<!--
		<div class="span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05"></div>
		<div class="push-1 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-2 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-3 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-4 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-5 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
-->
		<p class="franklinMedCompIt comparisonTitle <%=comparison.get("color1").toLowerCase()%>"> <%= comparison.get("title") %></p>
		<hr class="bg<%=comparison.get("color1")%>" style="height:3px"/>
		<p class="franklinBookComp <%=comparison.get("color1").toLowerCase()%> comparisonSubtitle"><%= comparison.get("subtitle") %></p>

		<% 	var val0 = comparison.get("wc")[0]; 
				var val1 = comparison.get("wc")[1]; 
				var totalBarH = 450; 
				var totalH = 600;
				var range = [comparison.get("range")[0], comparison.get("range")[1]]
				
				function mapVal(val) {
					var h = totalBarH*(val-range[0])/(range[1]-range[0]);
					var t = totalH-h;
					return [h,t];
				}
								
				function addCommas(nStr)
				{
					nStr += '';
					x = nStr.split('.');
					x1 = x[0];
					x2 = x.length > 1 ? '.' + x[1] : '';
					var rgx = /(\d+)(\d{3})/;
					while (rgx.test(x1)) {
						x1 = x1.replace(rgx, '$1' + ',' + '$2');
					}
					return x1 + x2;
				}		
						
		%>
		
		<div class = "push-0" style="top: <%= mapVal(val0)[1]/2.0%>px; position:absolute;" >
		<p class="franklinDemiCompIt countCandidate white" data-500="color:rgb(255,255,255);" data-1000="color:rgb(0,0,0);"> Obama </p>
		<p class="franklinDemiComp countBigNumber " > <%=  addCommas(val0) %> </p> </div>
		
		<div class = "push-4" style="top: <%= mapVal(val1)[1]/2.0%>px; position:absolute;">
		<p class="franklinDemiCompIt countCandidate white" > Romney </p> 
		<p class="franklinDemiComp countBigNumber" > <%=  addCommas(val1) %>  </p> </div>

		<div class="comparisonBarGraph bg<%=comparison.get("color1")%> push-1 span-2" style="height:<%= mapVal(val0)[0] %>px; top:<%= mapVal(val0)[1] %>px;" >	</div>
		<div class="comparisonBarGraph bg<%=comparison.get("color1")%> push-3 span-2" style="height:<%= mapVal(val1)[0] %>px; top:<%= mapVal(val1)[1] %>px;" >  </div>
			
		<!--
		<% comparison.get("traits").forEach(function(trait){ %>
		
			<% if (trait.name == "wc") { %> 
				
				<% var people = ["Edwards 2004", "Kennedy 1960", "Bush 2004"];
				var values = [8139, 4712, 6339]; %>
				
			<% } else if (trait.name == "uwc") { %>
			
				<% var people = ["Bush 2000", "Reagan 1984", "McCain 2008"];
				var values = [1.02, 1.59, 2.39]; %>
				
			<% } %>
			
				<% for (var i = 0; i < 3 ; i++) { %>
				
					<div class="comparisonLineContainer" style="top:<%= mapVal(values[i])[1] %>px"> 
					<p class="franklinDemiCompIt comparisonPastCandidate grayBlue"> <%=people[i] %></p>
					<hr class="span-5 bgGrayBlue" /> 
					<p class="franklinDemiComp comparisonPastValue"> <%=values[i]%> </p> 
					</div>
			
				<% } %>
			
		<% }); %>
		-->

</div>


