<div style="height:600px; ">
		<div class="span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05"></div>
		<div class="push-1 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-2 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-3 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-4 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-5 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>


		<% comparison.get("traits").forEach(function(trait){ %>

			<% if(trait.name=="posemo") { %>

					<p class="franklinDemiIt fgBlue comparisonExpText"> POSITIVITY</p>
					<hr class="bgBlue" style="height:3px"/>
					<p class="franklinMed fgBlue comparisonExpSubtitle"> The percentage of words spoken that are positive in some way. ie. 'winning, happy, improve.'</p>

					<div class="comparisonBarGraph bgBlue push-1 span-2" style="height:252px; top: 348px;" >
						<p class="franklinDemiCompIt barGraphText" > Obama </p>  <p class="franklinDemiComp barGraphValue" > 3.52 </p> </div>
					<div class="comparisonBarGraph bgBlue push-3 span-2" style="height:211px; top: 389px;" >
						<p class="franklinDemiCompIt barGraphText" > Romney </p>  <p class="franklinDemiComp barGraphValue" > 3.11 </p> </div>
					
					<!--Bush -->
					<div class="comparisonLineContainer push-0" style="top: 150px;"> 
					<p class="franklinDemiCompIt comparisonPastCandidate"  > Bush 2004</p>
					<hr class="span-5" style="top:50px;"/> 
					<p class="franklinDemiComp comparisonPastValue"> 4.91 </p> 
					</div>
					
					<!--Palin -->
					<div class="comparisonLineContainer push-0" style="top: 200px;"> 
					<p class="franklinDemiCompIt comparisonPastCandidate"  > Palin 2008</p>
					<hr class="span-5" style="top:50px;"/> 
					<p class="franklinDemiComp comparisonPastValue" > 4.18 </p> 
					</div>
					
					<!--clinton -->
					<div class="comparisonLineContainer push-0" style="top: 260px;"> 
					<p class="franklinDemiCompIt comparisonPastCandidate"  > Clinton 1992</p>
					<hr class="span-5" style="top:50px;"/> 
					<p class="franklinDemiComp comparisonPastValue" > 3.81 </p> 
					</div>
			
					<!--Nixon -->
					<div class="comparisonLineContainer push-0" style="top: 420px;"> 
					<p class="franklinDemiCompIt comparisonPastCandidate"  > Nixon 1960</p>
					<hr class="span-5" style="top:50px;"/> 
					<p class="franklinDemiComp comparisonPastValue"> 1.94 </p> 
					</div>			
			
				<% } %>
		<% }); %>

</div>


