<div style="position:relative; height:600px;">

		<% comparison.get("traits").forEach(function(trait){ %>
		
					<p class="franklinDemiIt fgBlue comparisonExpText">TOP 20 WORDS</p>
					<hr class="bgBlue" style="height:3px"/>
					<p class="franklinMed fgBlue comparisonExpSubtitle">The top twenty words of each candidate (excluding 'the', 'I', 'if', etc.)</p>

					<div class="comparisonBarGraph push-1 span-2" style="height:300px; top: 250px;" >
						<p class="franklinDemiCompIt barGraphText" > Obama </p>  </div>
					<div class="comparisonBarGraph push-3 span-2" style="height:300px; top: 250px;" >
						<p class="franklinDemiCompIt barGraphText" > Romney </p>  </div>
					
					<!-- Obama top 10 -->					
					<div style="position:absolute;">
					<ul class="comparisonList franklinDemiCompIt"> 
					<li> going </li>
					<li> make </li>
					<li> think </li>
					<li> got </li>
					<li> opponent </li>
					<li> Romney </li>
					<li> right </li>
					<li> know </li>
					<li> mitt </li>
					<li> president</li>
					</ul>
					</div>

					<!-- Obama 10-20 -->					
					<div class="push-1" style="position:absolute;">
					<ul class="comparisonList franklinDemiCompIt"> 
					<li> sure </li>
					<li> said </li>
					<li> tax </li>
					<li> years </li>
					<li> Afghanistan </li>
					<li> look </li>
					<li> troops </li>
					<li> need </li>
					<li> nuclear </li>
					<li> important</li>
					</ul>
					</div>
					
					<!-- Obama top 10 values-->										
					<div class = "span-1" style="position:absolute;">
					<ul class="comparisonListValue franklinDemiComp"> 
					<li> 51 </li>
					<li> 36 </li>
					<li> 35 </li>
					<li> 33 </li>
					<li> 32 </li>
					<li> 31 </li>
					<li> 27 </li>
					<li> 26 </li>
					<li> 24 </li>
					<li> 24</li>
					</ul>
					</div>
					
					<!-- Obama 10-20 values-->										
					<div class="push-1 span-1" style="position:absolute;">
					<ul class="comparisonListValue franklinDemiComp"> 
					<li> 21 </li>
					<li> 20 </li>
					<li> 17 </li>
					<li> 17 </li>
					<li> 16 </li>
					<li> 15 </li>
					<li> 15 </li>
					<li> 14 </li>
					<li> 13 </li>
					<li> 13 </li>
					</ul>					
					</div>
					
					<!-- Romney top 10 -->					
					<div class="push-3" style="position:absolute;">
					<ul class="comparisonList franklinDemiCompIt"> 
					<li> president </li>
					<li> Obama </li>
					<li> know </li>
					<li> said </li>
					<li> spending </li>
					<li> united </li>
					<li> got </li>
					<li> states </li>
					<li> want </li>
					<li> people</li>
					</ul>
					</div>

					<!-- Romney 10-20 -->					
					<div class="push-4" style="position:absolute;">
					<ul class="comparisonList franklinDemiCompIt"> 
					<li> going </li>
					<li> government </li>
					<li> strategy </li>
					<li> make </li>
					<li> think </li>
					<li> time </li>
					<li> way </li>
					<li> go </li>
					<li> look </li>
					<li> new</li>
					</ul>
					</div>
					
					<!-- Romney top 10 values-->										
					<div class="push-3 span-1" style="position:absolute;">
					<ul class="comparisonListValue franklinDemiComp"> 
					<li> 55 </li>
					<li> 44 </li>
					<li> 40 </li>
					<li> 36 </li>
					<li> 35 </li>
					<li> 34 </li>
					<li> 27 </li>
					<li> 26 </li>
					<li> 24 </li>
					<li> 24</li>
					</ul>
					</div>
					
					<!-- Romney 10-20 values-->										
					<div class="push-4 span-1" style="position:absolute;">
					<ul class="comparisonListValue franklinDemiComp"> 
					<li> 21 </li>
					<li> 20 </li>
					<li> 17 </li>
					<li> 17 </li>
					<li> 16 </li>
					<li> 15 </li>
					<li> 15 </li>
					<li> 14 </li>
					<li> 13 </li>
					<li> 13 </li>
					</ul>					
					</div>
					
		<% }); %>

</div>
