<div class="compareContainer list">

		
	<p class="franklinMedCompIt lime comparisonExpText"> <%= comparison.get("title") %> </p>
	<hr class="bgLime" style="height:3px"/>
	<p class="franklinBook lime comparisonExpSubtitle"><%= comparison.get("subtitle") %></p>
		
	<!-- Obama top 20 -->					
	<div class="push-0" style="position:absolute;">
	<span class="comparisonListCandidate grayBlue franklinDemiCompIt" > <br>Obama <br></span>
	<hr class="bgGrayBlue span-2" style="height:3px"/>  	

	<% for (var i = 0 ; i < 20 ; i++) {%>
		<span class="comparisonListWord gray80 franklinDemiComp"><%=comparison.get("obamaList")[i]%> </span><span class="comparisonListValue lime franklinBookComp"><sup><%=comparison.get("obamaValues")[i] %> </sup><br></span>
	<% } %>	

	</div>
	
	<!-- Romney top 20 -->					
	<div class="push-3" style="position:absolute;">
	<span class="comparisonListCandidate grayBlue franklinDemiCompIt" > <br>Romney<br> </span> 
	<hr class="bgGrayBlue span-2" style="height:3px"/> 
	
	<% for (var i = 0 ; i < 20 ; i++) {%>
		<span class="comparisonListWord gray80 franklinDemiComp"><%=comparison.get("romneyList")[i]%> </span><span class="comparisonListValue lime franklinBookComp"> <sup><%=comparison.get("romneyValues")[i] %> </sup><br></span>
	<% } %>				
	</div>
					

</div>
