<div style="height:800px; position:relative;">

<!--
		<div class="span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05"></div>
		<div class="push-1 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-2 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-3 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-4 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-5 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
-->
		<p class="franklinMedIt purple spectrumTitle"> <%= comparison.get("title") %></p>
		<!-- <hr class="bgPurple" style="height:3px"/> -->
		<div class = "span-3" style="height:450px; position:relative; border-right-style:dotted;"></div>

		<!-- vals in here are incorrect. working on bug fix (dividing by 3 for now). JM -->
		<%  var val0 = comparison.get("traits")[0].vals[0]/3.0; 
			var val1 = comparison.get("traits")[0].vals[1]/3.0; 
			var totalBarH = 450; 
			var totalH = 600;
			var range = [comparison.get("range")[0], comparison.get("range")[1]];
  			var purple = [101, 45, 106];
  			var redOrange = [255, 66, 55];
			
			function mapVal(val) {
				var h = totalBarH*(100*val-range[0])/(range[1]-range[0]);
				var t = totalH-h;
				return [h,t];
			}
			function mapColor(val, channel) {
				var val_n = (100.0*val - range[0])/(range[1] - range[0]);
				var color = parseInt(val_n*purple[channel] + (1.0-val_n)*redOrange[channel]);
				return color;
			}
			var col0 = [mapColor(val0,0), mapColor(val0,1), mapColor(val0,2)];
			var col1 = [mapColor(val1,0), mapColor(val1,1), mapColor(val1,2)];
			
		%>

		<div class="spectrumPointer push-1 span-1" style="top:<%= mapVal(val0)[1] - 50%>px; background-color:rgb(<%=col0[0]%>, <%=col0[1]%>, <%=col0[2]%>);" >
		<hr class="spectrumDottedLine span-2" style="background-color:rgb(<%=col0[0]%>, <%=col0[1]%>, <%=col0[2]%>);"/>
		<p class="franklinMedCompIt spectrumText" > Obama </p>  <p class="franklinMedComp spectrumValue" > <%=  Math.round(10000*val0)/100 %> </p> </div>
	
		<div class="spectrumPointer push-4 span-1" style="top:<%= mapVal(val1)[1] - 50%>px; background-color:rgb(<%=col1[0]%>, <%=col1[1]%>, <%=col1[2]%>);" >
		<hr class="spectrumDottedLine spectrumDottedLineRight span-2" style = "background-color:rgb(<%=col1[0]%>, <%=col1[1]%>, <%=col1[2]%>);"/>
		<p class="franklinMedCompIt spectrumText" > Romney </p>  <p class="franklinMedComp spectrumValue" > <%=  Math.round(10000*val1)/100 %>  </p> </div>
		
		<% comparison.get("traits").forEach(function(trait){ 
		
			if (trait.name == "honesty") {  
				
				var people = ["Bush 2000", "Obama 2008", "Cheney 2004", "Edwards 2004"];
				var values = [5.22, 4.15, 0.80, 1.40]; 
				
			} else if (trait.name == "formality") {
			
				var people = ["Perot 1992", "Palin 2000", "Cheney 2004","Carter 1980"];
				var values = [6.75, 8.66, 16.86, 22.88]; 
				
			} else if (trait.name == "depression") {
			
				var people = ["Palin 2008", "Obama 2008", "Reagan 1980","Kerry 2004"];
				var values = [-0.03, 0.68, 2.64, 4.15]; 
				
			} 
			
				for (var i = 0; i < 4 ; i++) { 
					
					var repub = "spectrumPush-3"; 
					var dem = "push-2";
					var xpos = "";
					
				    if (i%2 == 0) {
				       xpos = repub;  
				       
			        } else {
				       xpos = dem;  
				    }
				    %>
				
					<div class="spectrumLineContainer <%=xpos%>" style="top:<%= mapVal(values[i]/100.0)[1] %>px"> 
					<p class="franklinDemiCompIt comparisonPastCandidate grayBlue" > <%=people[i] %></p>
					<hr class="span-1 bgGrayBlue" /> 
					<p class="franklinDemiComp comparisonPastValue" > <%=values[i]%> </p> 
					</div>
			
				<% } %>
			
		<% }); %>
		<div style="height:450px; position:relative;"> </div>
		<p class="franklinMedIt redOrange spectrumTitle"><%= comparison.get("subtitle") %></p>

</div>


