<div class="compareContainer" data-<%= (scrollY-scrollDet-scrollD) %>="top:100%;" data-<%= (scrollY-scrollDet) %>="top:0%;" data-<%= (scrollY+scrollDet) %>="top:0%;" data-<%= (scrollY+scrollDet+scrollD) %>="top:-300%;">

<!--
		<div class="span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05"></div>
		<div class="push-1 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-2 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-3 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-4 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
		<div class="push-5 span-1" style="position:absolute; height:100%; background-color:white; opacity:0.05;"></div>
-->
		<div class="push-5 span-2" style="position:absolute"><p class="franklinBookComp spectrumSubtitle " style="color:rgb(<%=comparison.get("color1")[0]%>, <%=comparison.get("color1")[1]%>, <%=comparison.get("color1")[2]%>);"><%= comparison.get("subtitle") %></p></div>
		<p class="franklinMedCompIt spectrumTitle " style="color:rgb(<%=comparison.get("color1")[0]%>, <%=comparison.get("color1")[1]%>, <%=comparison.get("color1")[2]%>);"> <%= comparison.get("title") %></p>
		<!-- <hr class="bgPurple" style="height:3px"/> -->

		<div class = "spectrumBackgroundPush <%=comparison.get("gradient")%>" style="height:570px; width:20px; position:relative; "></div>

		<%  var val0 = comparison.get("traits")[0].vals[0]; 
			var val1 = comparison.get("traits")[0].vals[1]; 
			var totalBarH = 450; 
			var totalH = 600;
			var range = [comparison.get("range")[0], comparison.get("range")[1]];
  		var colorExtreme1 = comparison.get("color1");
  		var colorExtreme2 = comparison.get("color2");
			
			function mapVal(val, bound) {
			
				if (bound && (val < range[0]/100.0)) val = range[0]/100.0;
				if (bound && (range[1]/100.0 < val)) val = range[1]/100.0;
							
				var h = totalBarH*(100*val-range[0])/(range[1]-range[0]);
				var t = totalH-h;
				return [h,t];
			}
			function mapColor(val, channel) {
				var val_n = (100.0*val - range[0])/(range[1] - range[0]);
				var color = parseInt(val_n*colorExtreme1[channel] + (1.0-val_n)*colorExtreme2[channel]);
				return color;
			}
			var col0 = [mapColor(val0,0), mapColor(val0,1), mapColor(val0,2)];
			var col1 = [mapColor(val1,0), mapColor(val1,1), mapColor(val1,2)];
			
		%>

		<div class="spectrumPointer push-1 span-2" style="top:<%= mapVal(val0, true)[1] - 50%>px;" >
		<p class="franklinMedCompIt spectrumObama" > Obama </span>  
		<hr class="spectrumLine span-2" style="background-color:rgb(<%=col0[0]%>, <%=col0[1]%>, <%=col0[2]%>);"/>
		<p class="franklinMedComp spectrumValue" > <%=  (Math.round(10000*val0)/100).toFixed(2) %> </p> </div>
	
		<div class="spectrumPointer spectrumPush-3 span-2" style="top:<%= mapVal(val1, true)[1] - 50%>px;" >
		<p class="franklinMedCompIt spectrumRomney" > Romney </p> 
		<hr class="spectrumLine span-2" style = "background-color:rgb(<%=col1[0]%>, <%=col1[1]%>, <%=col1[2]%>);"/>
	  <p class="franklinMedComp spectrumValueRight" > <%=  (Math.round(10000*val1)/100).toFixed(2) %>  </p> </div>
		
		<% comparison.get("traits").forEach(function(trait){ 
		
			if (trait.name == "honesty") {  
				
				var people = ["Bush 2000", "Obama 2008", "Cheney 2004", "Edwards 2004"];
				var values = [5.22, 4.15, 0.80, 1.40]; 
				
			} else if (trait.name == "formality") {
			
				var people = ["Perot 1992", "Palin 2000", "Cheney 2004","Carter 1980"];
				var values = [6.75, 8.66, 16.86, 22.88]; 
				
			} else if (trait.name == "depression") {
			
				var people = ["Palin 2008", "Obama 2008", "Reagan 1980","Kerry 2004"];
				var values = [-0.03, 0.68, 2.64, 4.15]; 
				
			} 
			
				for (var i = 0; i < 4 ; i++) { 
					
					var repub = "spectrumPush-3"; 
					var dem = "push-2";
					var xpos = "";
					var justify = "";
					var justify2 = "";	
									
				    if (i%2 == 0) {
				       xpos = repub;  
				       justify = "comparisonPastCandidateRight";
				       justify2 = "comparisonPastValueRight";
				       				       
			        } else {
				       xpos = dem;  
				       justify = "comparisonPastCandidate";
				       justify2 = "comparisonPastValue";
				    }
				    %>
				
					<div class="spectrumLineContainer span-1 <%=xpos%>" style="top:<%= mapVal(values[i]/100.0, false)[1] -24 %>px"> 
					<p class="franklinDemiCompIt <%=justify%> grayBlue" > <%=people[i] %></p>
					<hr class="span-1 bgGrayBlue" /> 
					<p class="franklinDemiComp <%=justify2%>" > <%=values[i]%> </p> 
					</div>
			
				<% } %>
			
		<% }); %>
		<p class="franklinMedCompIt spectrumTitle" style="top:-20px; color:rgb(<%=comparison.get("color2")[0]%>, <%=comparison.get("color2")[1]%>, <%=comparison.get("color2")[2]%>);"> <%= comparison.get("title2") %> </p>

</div>


