<div class="container">
	<div class="catWrapper">
  	<div class="franklinDemiCompIt push-0 categoryOverlay" style="top:144px;" data-end="top:144px;" data-start="top:400px;"><p class="categoryOverlayText <%= category %>Markup reverse"><%= title[0] %></p></div>
  	<div class="franklinDemiCompIt push-0 categoryOverlay" style="top:236px;" data-end="top:236px;" data-start="top:492px;"><p class="categoryOverlayText <%= category %>Markup reverse"><%= title[1] %></p></div>
  <div class="catWrapper">
</div> 
