<div class="container <%= type %>">
  <!-- populated with random +/-'s (class='emoSign') by overlay -->
  <div class="franklinDemiComp sentimentClick emoTextBig" style="left: <%=  speaker==1 ? gridColumns[3] : gridColumns[0] %>px; top: <%= posY %>px"><%= type=='posemo' ? 'POSITIVE' : 'NEGATIVE' %><br />BURST</div>
  <div class="franklinDemiComp sentimentClick emoTextSmall" style="left: <%= speaker==1 ? gridColumns[4] : gridColumns[2] %>px; top: <%= posY %>px"><%= type=='posemo' ? 'POSITIVE' : 'NEGATIVE' %><br />BURST</div>
</div> 
