<div class="container overlayBox">
	<% if(speaker==1) { // Obama %>
    <div class="franklinExBookComp numberPhrase gray80 numbersClick" style="left: -1024px; top:<%= posY %>px;" data-top-bottom="margin-top:-60px;" data-bottom-top="margin-top:60px;" ><%=$.trim(phrase)%></div>
	<% }else{ %>
    <div class="franklinExBookComp numberPhrase gray80 numbersClick" style="left: 2048px; text-align: right; top:<%= posY %>px;" data-top-bottom="margin-top:-60px;" data-bottom-top="margin-top:60px;"><%=$.trim(phrase)%></div> 
	<% } %>
</div>
