<div class="container" data-top-bottom="margin-top:-120px;" data-bottom-top="margin-top:120px;">

<% if(speaker=="obama") { %>

	<div class="traitExpTextHolder traitClick" style="top:<%= startPosY - 2*96 %>px;"><p class="franklinBookCompIt traitExpText bgOrangeRed white"><%= speaker.toUpperCase() %> IS NOW </p></div>
	<div class="traitExpTextHolder traitClick" style="top:<%= startPosY - 96 %>px;"><p class="franklinBookCompIt traitExpText bgOrangeRed white"><%= moreVal %><%= trait %> <p></div>
	<div class="traitExpTextHolder traitClick" style="top:<%= startPosY %>px;"><p class="franklinBookCompIt traitExpText bgOrangeRed white">THAN <%= trailer.toUpperCase() %> </p></div>
	<div class="franklinDemiComp traitSymbolLeft orangeRed traitClick" style="top:<%= startPosY %>px;" data-top-bottom="margin-top:-150px;" data-bottom-top="margin-top:150px;"><%= aVal %></div>

<% }else{ %>

	<div class="traitExpTextHolder traitClick" style="top:<%= startPosY - 2*96 %>px;"><p class="franklinBookCompIt traitExpText bgOrangeRed white"><%= speaker.toUpperCase() %> IS NOW</p></div>
	<div class="traitExpTextHolder traitClick" style="top:<%= startPosY - 96 %>px;"><p class="franklinBookCompIt traitExpText bgOrangeRed white"><%= moreVal %><%= trait %><p></div>
	<div class="traitExpTextHolder traitClick" style="top:<%= startPosY %>px;"><p class="franklinBookCompIt traitExpText bgOrangeRed white">THAN <%= trailer.toUpperCase() %></p></div>
	<div class="franklinDemiComp traitSymbolRight orangeRed traitClick" style="top:<%= startPosY %>px;" data-top-bottom="margin-top:-150px;" data-bottom-top="margin-top:150px;"><%= aVal %></div>

<% } %>
<!-- <p class="underlay"> </p> -->	
</div>