<div class="container">
<% if(leader=="obama") { %>
	<div class="traitExpTextHolder over push-1 traitClick" style="top:<%= startPosY - 2*96 %>px;"><p class="franklinDemiIt traitExpText"><%= leader.toUpperCase() %> IS NOW </p></div>
	<div class="traitExpTextHolder over push-1 traitClick" style="top:<%= startPosY - 96 %>px;"><p class="franklinDemiIt traitExpText">MORE <%= trait %> <p></div>
	<div class="traitExpTextHolder over push-1 traitClick" style="top:<%= startPosY %>px;"><p class="franklinDemiIt traitExpText">THAN <%= trailer.toUpperCase() %> </p></div>
	<div class="franklinHeavy traitSymbol pink traitClick" style="top:<%= startPosY %>px;">></div>
<% }else{ %>
	<div class="traitExpTextHolder over push-3 traitClick"><p class="franklinDemiIt traitExpText"><%= leader.toUpperCase() %> IS NOW</p></div>
	<div class="traitExpTextHolder over push-3 traitClick"><p class="franklinDemiIt traitExpText">MORE <%= trait %><p></div>
	<div class="traitExpTextHolder over push-3 traitClick"><p class="franklinDemiIt traitExpText">THAN <%= trailer.toUpperCase() %></p></div>
<% } %>
<!-- <p class="underlay"> </p> -->	
</div>