<div class="container">
<% if(leader=="obama") { %>
	<div class="traitExpTextHolder overlay push-1" style="bottom:<%= startPosY + 2*96 %>px;"><p class="franklinDemiIt traitExpText"><%= leader.toUpperCase() %> IS NOW </p></div>
	<div class="traitExpTextHolder overlay push-1" style="bottom:<%= startPosY + 96 %>px;"><p class="franklinDemiIt traitExpText">MORE <%= trait %> <p></div>
	<div class="traitExpTextHolder overlay push-1" style="bottom:<%= startPosY %>px;"><p class="franklinDemiIt traitExpText">THAN <%= trailer.toUpperCase() %> </p></div>
<% }else{ %>
	<div class="traitExpTextHolder overlay push-3"><p class="franklinDemiIt traitExpText"><%= leader.toUpperCase() %> IS NOW</p></div>
	<div class="traitExpTextHolder overlay push-3"><p class="franklinDemiIt traitExpText">MORE <%= trait %><p></div>
	<div class="traitExpTextHolder overlay push-3"><p class="franklinDemiIt traitExpText">THAN <%= trailer.toUpperCase() %></p></div>
<% } %>
<!-- <p class="underlay"> </p> -->	
</div>