<!--
<div style="position: absolute; z-index: 2; font-size: 42px; top: <%= posY %>px; width:600px; height:100px; background-color:yellow"><%= speaker %>'s <%= count %>th word is <%= word %></div>
-->
<div class="container">
	<% if(speaker=="obama") { %>
		<div class="wordCountTextHolder over " style="left: <%= grid[0] %>px; top:<%= posY - 3*120 %>px;"><p class="franklinDemiComp wordCountText"><%= speaker.toUpperCase() %>'S</p></div>
		<div class="wordCountTextHolder over " style="left: <%= grid[0] %>px; top:<%= posY - 2*120 %>px;"><p class="franklinDemiComp wordCountText"><%= count %>th<p></div>
		<div class="wordCountTextHolder over " style="left: <%= grid[0] %>px; top:<%= posY - 120 %>px;"><p class="franklinDemiComp wordCountText">WORD WAS</p></div>
		<div class="wordCountTextHolder over " style="left: <%= grid[0] %>px; top:<%= posY %>px;"><p class="metaBook wordCountWord"><%= word %></p></div>
		<hr class="wordCountLine countClick" style="left:<%= wordX %>px; top: <%= lineY %>px;"></hr>
	<% }else{ %>
		<div class="wordCountTextHolder over " style="left: <%= grid[2] %>px;  top:<%= posY - 3*120 %>px;"><p class="franklinDemiComp wordCountText"><%= speaker.toUpperCase() %>'S</p></div>
		<div class="wordCountTextHolder over " style="left: <%= grid[2] %>px; top:<%= posY - 2*120 %>px;"><p class="franklinDemiComp wordCountText"><%= count %>th<p></div>
		<div class="wordCountTextHolder over " style="left: <%= grid[2] %>px; top:<%= posY - 120 %>px;"><p class="franklinDemiComp wordCountText">WORD WAS</p></div>
		<div class="wordCountTextHolder over " style="left: <%= grid[2] %>px; top:<%= posY %>px;"><p class="metaBook wordCountWord"><%= word %></p></div>
		<hr class="wordCountLine countClick" style="left:<%= grid[1] %>px; top: <%= lineY %>px;"></hr>
	<% } %>
</div>