body {
  /* background: -webkit-linear-gradient(left, #9699A0, #C9D1CF, #C9D1CF, #9699A0); */
  /*background-color: rgb(110,116,116);*/
  background-color: rgb(140,146,146);	 

  overflow-y: scroll;	
  overflow-x: hidden;	/* not working! */
  cursor: default;
}

.layer {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow:visible;
}

.wrapper {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow-y: scroll;
  overflow-x: visible;
  
  -webkit-perspective: 700px;	
  -webkit-perspective-origin: 50% 1000px;	
}


.transcript .wrapper {
  -webkit-transition: -webkit-transform .5s linear; 
  transition: all .5s linear;
  overflow:visible;
  /* overflow-x: hidden; */
  /* background-color: yellow; */
}

#overlay {
	
}

#landing {
	/* background-color:yellow; */
	position: fixed;
}

#bigWords {
	position: absolute;
	top: 0px;	
	/* 
	-webkit-perspective: 700px; 
	-webkit-perspective-origin: 50% 1000px;	
	*/
}

#bigWords .hiddenWord {
  display: none;
  -webkit-transform: none;
}

#bigWordsHolder {
	/* display: block; */
	/* left: -600px; */	/* account for perspective */
	font-size: 400px;
	line-height: 336px;
	font-family:"ff-meta-serif-web-pro"; 
	font-weight:700; 
	font-style:italic; 

		
	/*color: rgb(116,120,120);*/
	
	/*
	background-color: yellow;
	height: 300px;
	width: 1024px;
	*/
	/* -webkit-transform: translateZ(-500px); */
	
}

.bigWord {
	position: absolute;
	display: block;
	left: 0px;	/* account for perspective */
	font-size: 400px;
	line-height: 336px;
	font-family:"ff-meta-serif-web-pro"; 
	font-weight:700; 
	font-style:italic; 
	
	color: rgb(146,152,152);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*color: rgb(135,140,140);*/
	/*color: rgb(116,120,120);*/
	/* -webkit-transform: translateZ(-500px); */
}

.testZ {
	color: rgb(20,20,20);
	width:50px;
	background-color:red;
	position:absolute;
	-webkit-transform: translateZ(-300px);	
}

.testZno {
	color: black;
	position:absolute;
}


/* Transcript bizniss */

h1 { /* Speaker names */
  text-decoration: underline;	
  /* border-bottom-style: solid; */ 	/* alternative to control "underline" weight */
  /* border-bottom-width: 2px */
  line-height: 0px;
  font-size: 36px;
  cursor: pointer;
}


p { /* Transcript text */
  line-height: 24px;
  font-size: 18px;
}

#curSentence {
	color: white;
	/* background-color: rgb(64, 180, 230);	*/
	background-color: rgb(50,50,50);
}

.transcriptSentence {
	
}

.fade {
  -webkit-transform: scale(.4);
  opacity: .5;
  top: -75%;
  height: 250%;
}

#comparisons .active {
  z-index: 5000;
}

#comparisons .active.wrapper {
  /*-webkit-transform: scale(1);
  transform: scale(1);*/
  opacity: 1.0 !important;
}

#comparisons .wrapper {
  -webkit-transition:  1s linear; 
  transition:  1s linear; 
  opacity: 0 !important;
  position: fixed;
  /*-webkit-transform: scale(0);
  transform: scale(0);*/

}

.pieChart {
  position: relative;
  top: 20px;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 5%;
  background: #ffe745;
  opacity: .5;
}


hr {
  position:absolute; 
  height:2px; 
  background-color:#000;
}

/* Navigation */

#navigation {
	position: fixed;
	width: 530px;
	height: 40px;	
	z-index: 10;

	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
	
	-webkit-transition: -webkit-transform 1s;	
	
  left: -245px; /* width / 2 + height / 2 */
  top: 245px;
}


/* White box inside #navigation div */
#navTimeline {
  width: 530px;
  height: 8px;
}
#navProgressBar {
  height: 8px;
  background-color: rgb(64, 180, 230);	
  width: 0px;
  z-index: 0;
}
#navProgressMarker {
  height: 8px;
  width:2px;
  background-color: black;
  z-index: 2;
  position: absolute;
  top:0px;
}
.navChapterBar {
  height: 8px;
  z-index: 1;
  position: absolute;
  top: 0px;
}
#navBar {
  width: 530px;
	height: 32px;
	background-color: white;
}

.navTitle {
	padding: 10px 10px 10px 10px;
	font-size: 24px;
}

.navSubTitle {
	font-size: 18px;
}
 
.rot90 {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}





/* Typekit fonts */

.metaBook{ font-family:"ff-meta-serif-web-pro"; font-weight:100; font-style:normal; }
.metaBookIt{ font-family:"ff-meta-serif-web-pro"; font-weight:100; font-style:italic; }
.metaBold{ font-family:"ff-meta-serif-web-pro"; font-weight:700; font-style:normal; }
.metaBoldIt{ font-family:"ff-meta-serif-web-pro"; font-weight:700; font-style:italic; }

/* Franklin Compressed */

.franklinBookComp{ font-family:"franklin-gothic-urw-comp-n4", "franklin-gothic-urw-comp"; font-weight:400; font-style:normal; }
.franklinBookCompIt{ font-family:"franklin-gothic-urw-comp-i4", "franklin-gothic-urw-comp"; font-weight:400; font-style:italic; }

.franklinDemiComp{ font-family:"franklin-gothic-urw-comp-n7", "franklin-gothic-urw-comp"; font-weight:700; font-style:normal; }
.franklinDemiCompIt{ font-family:"franklin-gothic-urw-comp-i7", "franklin-gothic-urw-comp"; font-weight:700; font-style:italic; }


/* Franklin Extra Compressed */

.franklinExBookComp{ font-family:"franklin-gothic-ext-comp-urw-n4", "franklin-gothic-ext-comp-urw"; font-weight:400; font-style:normal; }
.franklinExDemiComp{ font-family:"franklin-gothic-ext-comp-urw-n7", "franklin-gothic-ext-comp-urw"; font-weight:700; font-style:normal; }







/* Franklin Condensed */
.franklinMedComp{ font-family:"franklin-gothic-urw-cond-n5", "franklin-gothic-urw-cond"; font-weight:600; font-style:normal; }
.franklinMedCompIt{ font-family:"franklin-gothic-urw-cond-i5", "franklin-gothic-urw-cond"; font-weight:600; font-style:italic; }


/* Franklin reg */

.franklinLight{ font-family:"franklin-gothic-urw-n3", "franklin-gothic-urw"; font-weight:300; font-style:normal; }
.franklinBook{ font-family:"franklin-gothic-urw-n4", "franklin-gothic-urw"; font-weight:400; font-style:normal; }
.franklinBookIt{ font-family:"franklin-gothic-urw-i4", "franklin-gothic-urw"; font-weight:400; font-style:italic; }

.franklinMed{ font-family:"franklin-gothic-urw-n5", "franklin-gothic-urw"; font-weight:500; font-style:normal; }
.franklinMedIt{ font-family:"franklin-gothic-urw-i5", "franklin-gothic-urw"; font-weight:500; font-style:italic; }


.franklinDemi{ font-family:"franklin-gothic-urw-n7", "franklin-gothic-urw"; font-weight:700; font-style:normal; }
.franklinDemiIt{ font-family:"franklin-gothic-urw-i7", "franklin-gothic-urw"; font-weight:700; font-style:italic; }
.franklinHeavy{ font-family:"franklin-gothic-urw-n9", "franklin-gothic-urw"; font-weight:900; font-style:normal; }
.franklinHeavyIt{ font-family:"franklin-gothic-urw-i9", "franklin-gothic-urw"; font-weight:900; font-style:italic; }

/* Colors */
.white{ color:rgb(255,255,255); }
.gray50{ color:rgb(50,50,50); }

.gray60{ color:rgb(76,76,76); }
/*.gray60{ color:rgb(60,60,60); }*/

.gray80{ color:rgb(80,80,80); }
.gray160{ color:rgb(160,160,160); }
.grayBlue{ color:rgb(67,67,75); }
.bgGrayBlue{ background-color:rgb(77,77,85); }
.pink{ color:rgb(231,0,149); }
.bgPink{ background-color:rgb(231,0,149); }
.sky{ color:rgb(64,180,229); }
.bgSky{ background-color:rgb(64,180,229); }
.lime{ color:rgb(207,255,36); }
.bgLime{ background-color:rgb(207,255,36); }
.magenta{ color:rgb(227, 31, 130); } 
.bgMagenta{ background-color:rgb(227, 31, 130); } 
.cherry{ color:rgb(255, 66, 55); } 
.bgCherry{ background-color:rgb(255, 66, 55); } 
.purple{ color:rgb(101, 45, 106); } 
.bgPurple{ background-color:rgb(101, 45, 106); } 
.salmon{ color:rgb(255,157,108); }
.bgSalmon{ background-color:rgb(255,157,108); }
.seaGreen{ color:rgb(124,240,179); }

/* Overlays */

.over {
	z-index: 2;	
}
.under {
	z-index: -2;
}

.overlayFiller {	/* Empty div to keep the overlay div scrollable */
	position: absolute;
	top: 0px;
	height: 100000px;
	width: 1px;
}


/* Landing page */

#landingBigWords {
	position: absolute;
	top:-70px;
	left:-300px;
	font-size: 400px;
	line-height: 336px;
	font-family:"ff-meta-serif-web-pro"; 
	font-weight:700; 
	font-style:italic; 
	color: rgb(146,152,152);
	z-index:-1;
}

#landingTitle {
	position:absolute;
	color: white;
	font-size: 48px;
	/*letter-spacing: .02em;*/
	line-height: 48px;
	top: 48px;
	display:block;
}

landingTitleImage {
	width:324px;
	height:27px;
	background: url("images/ReconLogo.png");
	position:absolute;
	top: 48px;
	display:block;
	
	
	
}

#landingSubTitle {

	position: absolute;
	top: 588px;
	font-size: 42px;
	line-height: 48px;
	z-index:1;
	padding-left: 25px;
}

#landingSubTitleDiv {
	position: relative;
	top: 588px;
	height: 48px;
	background-color: rgb(207,255,36);
	z-index:0;
	width: 3000px;
	left:-900px;

}

#landingObama {
	position: absolute;
	top: 132px;
	font-size: 200px;
	line-height: 156px;
	
	left:141px;
	
	/*left:99px;*/
	/*left:10px;*/
	/*font-size: 238px;*/
	/*line-height: 156px;*/
}

#landingVersus {

	position: absolute;
	top: 300px;
	left: 286px;
	font-size: 96px;
	line-height: 90px;
	
	/*line-height: 98px;
	left: 244px;
	left: 312px;

	*/

}

#landingRomney {
	left:110px;
	position: absolute;
	top: 396px;
	font-size: 200px;
	line-height: 144px;
	/*left:136px;*/
	/*left:68px;*/

}

#landingButtonBox {
	position: absolute;
	width: 296px;
	height: 264px;
	top: 156px;
	/* background-color: yellow; */
}

.landingButtonHolder {
	position: relative;	
}

.landingButton {
	position: static;
	padding: 0 0 0 0;
	left: 0px;
	font-size: 36px;
	line-height: 36px;
	margin: 12px 0px 0px 0px;
}

.landingDate {
	position: static;
	top: 400px;
	padding: 0 0 0 0;
	left: 0px;
	font-size: 20px;
	line-height: 24px;
	margin: 0px 0px 24px 0px;
}

.landingArrow {
	position: absolute;
	font-size: 96px;
	line-height: 96px;
	top: -6px;
	left: 248px;	
}

.landingRule {
	position: static; 
	width: 296px;
	margin: 0px 0px 0px 0px;
	background-color: rgb(76,76,76)!important;	
}

.landingMakingof {
	position: static;
	padding: 0 0 0 0;
	left: 0px;
	font-size: 25px;
	line-height: 25px;
	margin: 12px 0px 0px 0px;
	color:rgb(200,200,200) !important;
	 
}

.landingMakingofSubTitle {
	position: static;
	padding: 0 0 0 0;
	left: 0px;
	font-size: 20px;
	line-height: 0px;
	margin: 12px 0px 0px 0px;
	color:rgb(200,200,200) !important;
	 
}


.landingWhiteRule1 {
	position: absolute;
	border-bottom:1px dashed rgb(200,200,200)!important;
	top:284px; 
	left:59px;
	width: 420px;
	margin: 0px 0px 0px 0px;
}


.landingWhiteRule2 {
	position: absolute;
	border-bottom:1px dashed rgb(200,200,200)!important;
	top:380px; 
	left:170px;
	width: 150px;
	margin: 0px 0px 0px 0px;
}


.landingWhiteRule0 {
	position: absolute;
	border-bottom:1px dashed rgb(200,200,200)!important;
	top:84px; 
	left:-80px;
	width: 400px;
	margin: 0px 0px 0px 0px;
}

.landingWhiteRule3 {
	position: absolute;
	border-bottom:1px dashed rgb(200,200,200)!important;
	top:541px; 
	left:-70px;
	width: 496px;
	margin: 0px 0px 0px 0px;
}

#landingCreditsBox {
	position: absolute;
	left: 0px;
	top: 642px;
	width: 1024px;
	height: 106px;
}

#SocialMediaLinks {
	position: absolute;
	top:30px;
	left: 700px;
		
		
	}

.landingCredits {
	position: absolute;
	font-size: 14px;
	line-height: 18px;
}


/*
.landingDescription {
	position: absolute;
	top: 600px;
	left: 0px;
	color: rgb(40,40,40);
	font-size: 18px;
	line-height: 24px;
}
*/

/* Trait overlays */

.traitExpTextHolder {

	position:absolute; 
	overflow: hidden;
	/* width:1024px; */
	height:96px; 	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/* background-color:yellow; */

	-webkit-transition: -webkit-transform 1s ease-in;	
	-webkit-transform: translateZ(0px);
	
}

.traitExpText {
	position:relative;
	top:96px;	/* Start out of view */
	font-size: 96px;
	color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:96px;
	background-color: rgb(231,0,149);
}

.traitSymbol {
	position: absolute;
	font-size:800px;	
	line-height:100px;
	left:-450px;	/* Start out of view */

	-webkit-transform: translateZ(0px);
}

/* Category words overlays */

.catWrapper {
	position: absolute;
}

.categoryOverlay {
	position:absolute; 
	overflow: visible;
  /*width: 906px;*/
  font-size: 180px;
  line-height: 160px;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 0px 10px;
  color: rgb(255,255,255);
	/*-webkit-transition: left 1s, right 1s, top 1s, height 1s, font-size 1s, line-height 1s;
	-webkit-transform: translateZ(0px);	*/
  z-index: 3;
  text-transform: uppercase;
}

.certainMarkup.reverse{
	background-color: rgb(255,175,108) !important;
	color: rgb(255, 255, 255) !important;
}

.tentatMarkup.reverse{
	background-color: rgb(193,186,134) !important;
	color: rgb(255, 255, 255) !important;
}


.posemoMarkup.reverse{
	background-color: rgb(124,240,179) !important;
	color: rgb(255, 255, 255) !important;
}

.negemoMarkup.reverse{
	background-color: rgb(122,52,183) !important;
	color: rgb(255, 255, 255) !important;
}

.catMarkup{
	cursor: pointer;
}


.traitClick, .sentimentClick, .countClick {
	cursor: pointer;
}

.overlay-bottom {
	position:absolute;
	top: 175px;
}

/* Word count overlays */

.wordCountTextHolder {
	position:absolute; 
	overflow: hidden;
	/* width:1024px; */
	height:120px; 	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/* background-color:yellow; */

	-webkit-transition: -webkit-transform 1s ease-in, left 1s, top 1s, height 1s, width 1s;	
	-webkit-transform: translateZ(0px);

}

.wordCountText {
	position:relative;
	top:120px;	/* Start out of view */
	font-size: 120px;
	color: rgb(207,255,36);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:120px;
	
	-webkit-transition: top 1s, font-size 1s, line-height 1s;
}

.wordCountWord {
	position:relative;
	top:120px;	/* Start out of view */
	font-size: 120px;
	color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:120px;
	
	-webkit-transition: top 1s, font-size 1s, line-height 1s;
}

.wordCountLine {
	position:absolute;
	height: 0; 
	border-bottom: 2px dotted rgb(207,255,36);
	background-color: transparent;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width:0px;
	
	-webkit-transition: width 1s;
}

.numberPhrase {
	position:absolute; 
	overflow: visible;
  width: 906px;
  font-size: 270px;
  line-height: .75em;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  color: rgb(64,180,229);
	-webkit-transition: left 1s, right 1s, top 1s, height 1s, font-size 1s, line-height 1s;
	-webkit-transform: translateZ(0px);	
  z-index: 3;

}

.quotePhrase {
	position:absolute; 
	overflow: visible;
  width: 906px;
  font-size: 240px;
  line-height: .75em;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  color: rgb(124,51,64);
	-webkit-transition: left 1s, right 1s, top 1s, height 1s, font-size 1s, line-height 1s;
	-webkit-transform: translateZ(0px);	
  z-index: 3;
}




.quoteLeftQuote, .quoteRightQuote {
  position: absolute;
  font-size: 400px;
  color: rgb(124,51,64);
  -webkit-transition: left 1s, right 1s, top 1s, height 1s, font-size 1s, line-height 1s;
  z-index: 0;
}


.emoTextBig {
  position: absolute;
  color: rgb(140,146,146);	
  font-size: 0px;
  line-height: 0.75em;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: font-size 1s, opacity 1s;
  z-index: 2;
}

.emoTextSmall {
  position: absolute;
  font-size: 36px;
  line-height: 0.75em;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
}

.posemo {
  color: rgb(112,241,184);
}
.negemo {
  color: rgb(127, 48, 177);
}

.emoSign {
  position: absolute;
  z-index: 1;
  -webkit-transform: scale(0.0001);
  -webkit-transition: font-size 1s, -webkit-transform 2s, opacity 1s;
  -webkit-transform-origin: 50% 50%;
  width: 400px;
  height: 400px;
}
.negativeSign {
  position: absolute;
  width: 400px;
  height: 100px;
  top: 150px;
  background-color: rgb(127,48,177);
}
.plusSignA, .plusSignB {
  position: absolute;
  background-color: rgb(112,241,184);
}
.plusSignA {
  left: 150px;
  width: 100px;
  height: 400px;
}
.plusSignB {
  top: 150px;
  width: 400px;
  height: 100px;
}

#transcript .freqWordFrame {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  height: 16px;
  font-size: 14px;
}

#transcript .freqWordCount {
  position: relative;
  top: 1em;
  color: rgb(207,255,36);
}

/*
#transcript {
	width: 1200px;
	overflow-y: scroll;
	font-family: serif;
}

#newWordMeta {
	position: absolute;
	font-size: 200%;
}

.moderator {
	width: 400px;
	padding-left:400px;
	display: block;
	color: gray;
}

.obama {
	width: 600px;
	padding-right:600px;
	display: block;
	color: purple;
}

.romney {
	width: 600px;
	padding-left: 600px;
	display: block;
	color: green;
}

.speakerName {
	font-size: 400%;
	font-weight: bold;
	font-family: Helvetica;
	display: block;
}


.chapterButton {
	color: white;
	background-color: black;
	padding: 1px 4px 1px 2px;
	margin: 2px;
}

.comparison {
	background-color: yellow;
	width: 1024px;
	height: 768px;
	font-family: Helvetica;
	font-size: 64px;
	font-color: black;
}
*/
