body {
  /* background: -webkit-linear-gradient(left, #9699A0, #C9D1CF, #C9D1CF, #9699A0); */
  background-color: rgb(110,116,116);	
  overflow-y: scroll;	
  overflow-x: hidden;	/* not working! */
}

.layer {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow:visible;
}

.wrapper {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow-y: scroll;
  overflow-x: visible;
  
  -webkit-perspective: 700px;	
  -webkit-perspective-origin: 50% 1000px;	
}


.transcript .wrapper {
  -webkit-transition: -webkit-transform .5s linear; 
  transition: all .5s linear;
  overflow:visible;
  /* overflow-x: hidden; */
  /* background-color: yellow; */
}

#overlay {
	
}

#landing {
	/* background-color:yellow; */
}

#bigWords {
	position: absolute;
	top: 0px;
	
	
	/* 
	-webkit-perspective: 700px; 
	-webkit-perspective-origin: 50% 1000px;	
	*/
}

#bigWords .hiddenWord {
  display: none;
  -webkit-transform: none;
}

#bigWordsHolder {
	/* display: block; */
	/* left: -600px; */	/* account for perspective */
	font-size: 400px;
	line-height: 336px;
	font-family:"ff-meta-serif-web-pro"; 
	font-weight:700; 
	font-style:italic; 
	color: rgb(116,120,120);
	
	/* -webkit-transform: translateZ(-500px); */
	
}

.bigWord {
	position: absolute;
	display: block;
	left: 0px;	/* account for perspective */
	font-size: 400px;
	line-height: 336px;
	font-family:"ff-meta-serif-web-pro"; 
	font-weight:700; 
	font-style:italic; 
	color: rgb(116,120,120);
	
	/* -webkit-transform: translateZ(-500px); */
}

.testZ {
	color: rgb(20,20,20);
	width:50px;
	background-color:red;
	position:absolute;
	-webkit-transform: translateZ(-300px);	
}

.testZno {
	color: black;
	position:absolute;
}


/* Transcript bizniss */

h1 { /* Speaker names */
  text-decoration: underline;	
  /* border-bottom-style: solid; */ 	/* alternative to control "underline" weight */
  /* border-bottom-width: 2px */
  line-height: 0px;
  font-size: 36px;
}


p { /* Transcript text */
  line-height: 24px;
  font-size: 18px;
}

#curSentence {
	color: white;
	/* background-color: rgb(64, 180, 230);	*/
	background-color: rgb(50,50,50);
}

.transcriptSentence {
	
}

.transcriptWord {
	
}

.fade {
  -webkit-transform: scale(.4);
  opacity: .5;
  top: -75%;
  height: 250%;
}

.comparisons .active {
  z-index: 5000;
}

.comparisons .active.wrapper {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.comparisons .wrapper {
  -webkit-transition:  1s linear; 
  transition:  1s linear; 
  -webkit-transform: scale(0);
  transform: scale(0);

}

.pieChart {
  position: relative;
  top: 20px;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 5%;
  background: #ffe745;
  opacity: .5;
}


hr {
  position:absolute; 
  height:2px; 
  background-color:#000;
}

/* Navigation */

#navigation {
	position: fixed;
	width: 530px;
	height: 40px;	
	z-index: 10;

	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
	
	-webkit-transition: -webkit-transform 1s;	
	
  left: -245px; /* width / 2 + height / 2 */
  top: 245px;
}


/* White box inside #navigation div */
#navTimeline {
  width: 530px;
  height: 8px;
}
#navProgressBar {
  height: 8px;
  background-color: rgb(64, 180, 230);	
  width: 0px;
  z-index: 0;
}
#navProgressMarker {
  height: 8px;
  width:2px;
  background-color: black;
  z-index: 2;
  position: absolute;
  top:0px;
}
.navChapterBar {
  height: 8px;
  z-index: 1;
  position: absolute;
  top: 0px;
}
#navBar {
  width: 530px;
	height: 32px;
	background-color: white;
}

.navTitle {
	padding: 10px 10px 10px 10px;
	font-size: 24px;
}

.navSubTitle {
	font-size: 18px;
}
 
.rot90 {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}





/* Typekit fonts */

.metaBook{ font-family:"ff-meta-serif-web-pro"; font-weight:100; font-style:normal; }
.metaBookIt{ font-family:"ff-meta-serif-web-pro"; font-weight:100; font-style:italic; }
.metaBold{ font-family:"ff-meta-serif-web-pro"; font-weight:700; font-style:normal; }
.metaBoldIt{ font-family:"ff-meta-serif-web-pro"; font-weight:700; font-style:italic; }

.franklinBookComp{ font-family:"franklin-gothic-urw-comp"; font-weight:400; font-style:normal; }
.franklinBookCompIt{ font-family:"franklin-gothic-urw-comp"; font-weight:400; font-style:italic; }
.franklinMedComp{ font-family:"franklin-gothic-urw-comp"; font-weight:600; font-style:normal; }
.franklinMedCompIt{ font-family:"franklin-gothic-urw-comp"; font-weight:600; font-style:italic; }
.franklinDemiComp{ font-family:"franklin-gothic-urw-comp"; font-weight:700; font-style:normal; }
.franklinDemiCompIt{ font-family:"franklin-gothic-urw-comp"; font-weight:700; font-style:italic; }

.franklinLight{ font-family:"franklin-gothic-urw"; font-weight:300; font-style:normal; }
.franklinBook{ font-family:"franklin-gothic-urw"; font-weight:400; font-style:normal; }
.franklinBookIt{ font-family:"franklin-gothic-urw"; font-weight:400; font-style:italic; }
.franklinMed{ font-family:"franklin-gothic-urw"; font-weight:500; font-style:normal; }
.franklinMedIt{ font-family:"franklin-gothic-urw"; font-weight:500; font-style:italic; }
.franklinDemi{ font-family:"franklin-gothic-urw"; font-weight:700; font-style:normal; }
.franklinDemiIt{ font-family:"franklin-gothic-urw"; font-weight:700; font-style:italic; }
.franklinHeavy{ font-family:"franklin-gothic-urw"; font-weight:900; font-style:normal; }
.franklinHeavyIt{ font-family:"franklin-gothic-urw"; font-weight:900; font-style:italic; }

/* Colors */
.white{ color:rgb(255,255,255); }
.gray50{ color:rgb(50,50,50); }
.gray60{ color:rgb(60,60,60); }
.gray80{ color:rgb(80,80,80); }
.gray160{ color:rgb(160,160,160); }
.grayBlue{ color:rgb(77,77,85); }
.bgGrayBlue{ background-color:rgb(77,77,85); }
.pink{ color:rgb(231,0,149); }
.fgBlue{ color:rgb(64,180,229); }
.bgBlue{ background-color:rgb(64,180,229); }
.lime{ color:rgb(207,255,36); }
.bgLime{ background-color:rgb(207,255,36); }
.fgMagenta{ color:rgb(227, 31, 130); } 
.bgMagenta{ background-color:rgb(227, 31, 130); } 
.redOrange{ color:rgb(255, 66, 55); } 
.bgRedOrange{ background-color:rgb(255, 66, 55); } 
.purple{ color:rgb(101, 45, 106); } 
.bgPurple{ background-color:rgb(101, 45, 106); } 
.salmon{ color:rgb(255,157,108); }

/* Overlays */

.over {
	z-index: 2;	
}
.under {
	z-index: -2;
}

.overlayFiller {	/* Empty div to keep the overlay div scrollable */
	position: absolute;
	top: 0px;
	height: 100000px;
	width: 1px;
}


/* Landing page */

#landingTitle {
	position:absolute;
	color: white;
	font-size: 48px;
	line-height: 48px;
	top: 48px;
	display:block;
}

#landingSubTitle {
	position: absolute;
	top: 588px;
	font-size: 42px;
	line-height: 48px;
	z-index:1;
}

#landingSubTitleDiv {
	position: absolute;
	top: 588px;
	width: 100%;
	height: 48px;
	background-color: rgb(207,255,36);
	z-index:0;
}

#landingObama {
	position: absolute;
	top: 132px;
	font-size: 230px;
	line-height: 156px;
}

#landingVersus {
	position: absolute;
	top: 288px;
	left: 249px;
	font-size: 96px;
	line-height: 96px;
}

#landingRomney {
	position: absolute;
	top: 396px;
	font-size: 200px;
	line-height: 144px;
}

#landingButtonBox {
	position: absolute;
	width: 296px;
	height: 264px;
	top: 156px;
	/* background-color: yellow; */
}

.landingButtonHolder {
	position: relative;	
}

.landingButton {
	position: static;
	padding: 0 0 0 0;
	left: 0px;
	font-size: 36px;
	line-height: 36px;
	margin: 12px 0px 0px 0px;
}

.landingDate {
	position: static;
	top: 400px;
	padding: 0 0 0 0;
	left: 0px;
	font-size: 20px;
	line-height: 24px;
	margin: 0px 0px 24px 0px;
}

.landingArrow {
	position: absolute;
	font-size: 96px;
	line-height: 96px;
	top: -6px;
	left: 248px;	
}

.landingRule {
	position: static; 
	width: 296px;
	margin: 0px 0px 0px 0px;	
}

#landingCreditsBox {
	position: absolute;
	left: 0px;
	top: 672px;
	width: 1024px;
	height: 106px;
}

.landingCredits {
	position: absolute;
	font-size: 18px;
	line-height: 24px;
}


/*
.landingDescription {
	position: absolute;
	top: 600px;
	left: 0px;
	color: rgb(40,40,40);
	font-size: 18px;
	line-height: 24px;
}
*/

/* Trait overlays */

.traitExpTextHolder {

	position:absolute; 
	overflow: hidden;
	/* width:1024px; */
	height:96px; 	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/* background-color:yellow; */

	-webkit-transition: -webkit-transform 1s ease-in;	
	-webkit-transform: translateZ(0px);	
	
}

.traitExpText {
	position:relative;
	top:96px;	/* Start out of view */
	font-size: 96px;
	color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:96px;
	background-color: rgb(231,0,149);
}

.traitSymbol {
	position: absolute;
	font-size:800px;	
	line-height:100px;
	left:-450px;	/* Start out of view */

	-webkit-transform: translateZ(0px);
}

/* Word count overlays */

.wordCountTextHolder {
	position:absolute; 
	overflow: hidden;
	/* width:1024px; */
	height:120px; 	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/* background-color:yellow; */

	-webkit-transition: -webkit-transform 1s ease-in, left 1s, top 1s, height 1s, width 1s;	
	-webkit-transform: translateZ(0px);	

}

.wordCountText {
	position:relative;
	top:120px;	/* Start out of view */
	font-size: 120px;
	color: rgb(207,255,36);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:120px;
	
	-webkit-transition: top 1s, font-size 1s, line-height 1s;
}

.wordCountWord {
	position:relative;
	top:120px;	/* Start out of view */
	font-size: 120px;
	color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:120px;
	
	-webkit-transition: top 1s, font-size 1s, line-height 1s;
}

.wordCountLine {
	position:absolute;
	height: 0; 
	border-bottom: 2px dotted rgb(207,255,36);
	background-color: transparent;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width:0px;
	
	-webkit-transition: width 1s;
}

.numberPhrase {
	position:absolute; 
	overflow: visible;
  width: 906px;
  font-size: 240px;
  line-height: .75em;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  color: rgb(255,157,108);
	-webkit-transition: left 1s, right 1s, top 1s, height 1s, font-size 1s, line-height 1s;
	/*-webkit-transform: translateZ(0px);	*/
  z-index: 3;

}

.quotePhrase {
	position:absolute; 
	overflow: visible;
  width: 906px;
  font-size: 240px;
  line-height: .75em;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  color: rgb(124,51,64);
	-webkit-transition: left 1s, right 1s, top 1s, height 1s, font-size 1s, line-height 1s;
	/*-webkit-transform: translateZ(0px);	*/
  z-index: 3;
}
.quoteLeftQuote, .quoteRightQuote {
  position: absolute;
  font-size: 400px;
  color: rgb(124,51,64);
  -webkit-transition: left 1s, right 1s, top 1s, height 1s, font-size 1s, line-height 1s;
  z-index: 0;
}



.comparisonExpText {
	position:relative;
	font-size: 128px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:128px;

}

.comparisonExpSubtitle {
	position:relative;
	font-size: 18px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:18px;

}

.comparisonLineContainer {
	position:absolute;
	height: 50px;
	margin:0 -80px 1.5em 80px; 
	float:left;
}

.comparisonPastCandidate {
	position:absolute;
	font-size: 24px;
	width: 300px;
	height: 10px;
}

.comparisonPastValue {
	position:absolute;
	font-size: 18px;	
    color:white;
	height: 10px;
	top: 35px;
}

.comparisonBarGraph {
	position:absolute;
}

.barGraphText {
	position:absolute;
	font-size: 48px;
	left: 10px;
	bottom: 15px;
	text-decoration: underline;
	line-height:48px;

}

.barGraphValue {
	position:absolute;
	font-size: 32px;
	left: 10px;
	bottom: 5px;
	line-height:24px;
	color: white;
}

.spectrumPointer {
	height: 100px;
	position: absolute;
}

.spectrumText {
	position:absolute;
	font-size: 48px;
	left: 10px;
	bottom: -5px;
	text-decoration: underline;
	line-height:48px;
	color:white;

}

.spectrumValue {
	position:absolute;
	font-size: 32px;
	left: 10px;
	bottom: -15px;
	line-height:24px;
	color: white;
}

.spectrumLineContainer {
	position:absolute;
	height: 50px;
	float:left;
}

.comparisonList {
	list-style: none outside;
	text-align: left;
	padding: 0 0 0 0;
	font-size: 24px;
	line-height:24px;
	color:black;
}

.comparisonListValue {
	list-style: none inside;
	text-align: right;
	padding: 0 0 0 0;	
	font-size: 16px;	
    color:white;
	line-height:24px;
}

#transcript .wordCountFrame {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  height: 16px;
  font-size: 10px;
}

#transcript .wordCount {
  position: relative;
  top: 1em;
  color: rgb(207,255,36);
}

/*
#transcript {
	width: 1200px;
	overflow-y: scroll;
	font-family: serif;
}

#newWordMeta {
	position: absolute;
	font-size: 200%;
}

.moderator {
	width: 400px;
	padding-left:400px;
	display: block;
	color: gray;
}

.obama {
	width: 600px;
	padding-right:600px;
	display: block;
	color: purple;
}

.romney {
	width: 600px;
	padding-left: 600px;
	display: block;
	color: green;
}

.speakerName {
	font-size: 400%;
	font-weight: bold;
	font-family: Helvetica;
	display: block;
}


.chapterButton {
	color: white;
	background-color: black;
	padding: 1px 4px 1px 2px;
	margin: 2px;
}

.comparison {
	background-color: yellow;
	width: 1024px;
	height: 768px;
	font-family: Helvetica;
	font-size: 64px;
	font-color: black;
}
*/
