.backgroundGradient{
margin-top: -156px;
margin-left:-200px;
margin-right:-200px;
height:600px; 
position:relative; 

/* Background Gradient Color */

background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

background-repeat:no-repeat; 
opacity:0.2; 
z-index:-2;

}

.compareContainer {
	
	/* position:relative; */
	position: fixed;
	top: 100%;
	border-bottom: 3px gray !important;
	padding-bottom: 50px !important;

}

.list {

height:1200px;

}

.count {
	
	height:650px;
}

.emotion {
	
	height:700px;
}

.comparisonTitle {
	position:relative;
	font-size: 128px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:128px;

}

.comparisonSubtitle {
	position:relative;
	font-size: 20px;
	letter-spacing: .03em;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:18px;
}

.comparisonListCandidate {
	position: relative;
	font-size: 48px;
	line-height:60px;

}

.comparisonListWord {
	text-align: left;
	padding: 0 0 0 0;
	font-size: 30px;
	line-height: 36px;
}

.comparisonListValue {
	text-align: right;	
	font-size: 24px;	
	line-height: 38px;
	
}

.comparisonLineContainer {
	position:absolute;
	height: 50px;
}

.comparisonPastCandidate {
	position:relative;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 0 0;
	left: 6px;

}

.comparisonPastCandidateRight {
	position:relative;
	text-align: right;		
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 0 0;	
	right: 6px;	
}

.comparisonPastValue {
	position:relative;
	font-size: 18px;
	margin: 0 0 0 0;
	left: 6px;	
	color: white;
}

.comparisonPastValueRight {
	position:relative;
	font-size: 18px;
	text-align: right;
	right: 6px;
	margin: 0 0 0 0;
  color: white;	
}

.comparisonBarGraph {
	position:absolute;
}

.barGraphText {
	position:absolute;
	font-size: 48px;
	left: 10px;
	bottom: 15px;
	/*text-decoration: underline;*/
	border-bottom-style: solid;
	line-height:48px;

}

.barGraphValue {
	position:absolute;
	font-size: 32px;
	left: 10px;
	bottom: 12px;
	line-height:2px;
	color: white;
}

.countCandidate {
	position: relative;
	font-size: 48px;
	border-bottom-style: solid;
	margin: 0 0 0 0;
	line-height:48px;
	z-index: 2;
	
}

.countBigNumber {
	position: relative;
	font-size: 128px;
	margin: 0 0 0 0;	
	line-height: 128px;
	color: white;	
}

.spectrumTitle {
	position: relative;
	text-align : center;
	font-size: 128px;
	margin: 0px 0px 0px 0px;
	line-height:128px;

}

.spectrumSubtitle {
	position: absolute;
	font-size: 20px;
	letter-spacing: .03em;
	line-height:18px;
}

.gradientHonesty {

	background: #652d6a; /* Old browsers */
	background: -moz-linear-gradient(top, #652d6a 0%, #ff4237 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#652d6a), color-stop(100%,#ff4237)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #652d6a 0%,#ff4237 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #652d6a 0%,#ff4237 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #652d6a 0%,#ff4237 100%); /* IE10+ */
	background: linear-gradient(to bottom, #652d6a 0%,#ff4237 100%); /* W3C */

}

.gradientFormality {

	background: rgb(0,95,113); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,95,113,1) 0%, rgba(254,131,35,1) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,95,113,1)), color-stop(98%,rgba(254,131,35,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,95,113,1) 0%,rgba(254,131,35,1) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,95,113,1) 0%,rgba(254,131,35,1) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,95,113,1) 0%,rgba(254,131,35,1) 98%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,95,113,1) 0%,rgba(254,131,35,1) 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f71', endColorstr='#fe8323',GradientType=0 ); /* IE6-9 */
}

.gradientDisposition {

	background: rgb(232,12,122); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,52,64,1) 0%, rgba(232,12,122,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,52,64,1)), color-stop(100%,rgba(232,12,122,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122,52,64,1) 0%,rgba(232,12,122,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122,52,64,1) 0%,rgba(232,12,122,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(122,52,64,1) 0%,rgba(232,12,122,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(122,52,64,1) 0%,rgba(232,12,122,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a3440', endColorstr='#e80c7a',GradientType=0 ); /* IE6-9 */
}

.spectrumBackgroundPush {
  z-index: 2;
	margin:0 -440px 1.5em 440px;
		/*margin:0 -440px 1.5em 440px;*/

}

.spectrumPointer {
	height: 100px;
	position: absolute;
}

.spectrumPointerImage {
	position: absolute;
	height: 100px;
  image-src: url("../../images/pointer.png");
}

.spectrumLine {
	height:3px; 
	top:50px; 
	position:absolute;
}

.spectrumLineContainer {
	position:absolute;
	height: 50px;
}


.spectrumObama {
	position:relative;
	font-size: 48px;
	margin: 0 0 0 0;	
	left: 10px;
	/*text-decoration: underline;
	border-bottom-style: solid;*/
	line-height:48px;
	color: white;

}

.spectrumRomney {
	position:relative;
	text-align: right;	
	font-size: 48px;
	right: 10px;
	margin: 0 0 0 0;
	/*text-decoration: underline;
	border-bottom-style: solid;*/
	line-height:48px;
	color: white;

}


.spectrumValue {

	position: relative;
	font-size: 32px;
	left: 10px;
	line-height:48px;
	margin: 0 0 0 0;	
	color: white;

	
}

.spectrumValueRight {

	position: relative;
	text-align: right;		
	font-size: 32px;
	right: 10px;
	line-height:48px;
	margin: 0 0 0 0;	
	color: white;

	
}


.spectrumPush-3 {
	margin:0 -456px 1.5em 456px;
}

