.backgroundGradient{
height:444px; 
position:relative; 
background-color:rgb(255,255,255); 
background-repeat:no-repeat; 
opacity:0.2; 
z-index:-2;

}


.compareContainer {
	
	position:relative; 
	
	border-bottom: 3px gray !important;
	padding-bottom: 50px !important;

}

.list {

height:1200px;

}

.count {
	
	height:650px;
}

.emotion {
	
	height:700px;
}

.comparisonTitle {
	position:relative;
	font-size: 128px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:128px;

}

.comparisonSubtitle {
	position:relative;
	font-size: 18px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height:18px;
}

.comparisonListCandidate {
	font-size: 48px;
	line-height:60px;

}

.comparisonListWord {
	text-align: left;
	padding: 0 0 0 0;
	font-size: 30px;
	line-height: 36px;
}

.comparisonListValue {
	text-align: right;	
	font-size: 24px;	
	line-height: 38px;
	
}

.comparisonLineContainer {
	position:absolute;
	height: 50px;
	/*width: 160px;*/
	/*margin:0 -80px 1.5em 80px;*/
	float:left;
}



.comparisonPastCandidate {
	position:absolute;
	font-size: 24px;
	line-height; 24px;
	width: 300px;
	height: 10px;
	margin: 0 0 0 0;
	top: -24px;	
	left: 6px;
}

.comparisonPastCandidateRight {
	position:absolute;
	font-size: 24px;
	text-align: right;	
	line-height: 24px;
	width: 936px;
	margin: 0 6px 0 -6px;
	top: -24px;	
}

.comparisonPastValue {
	position:absolute;
	font-size: 18px;
    color:white;
	height: 10px;
	margin: 0 0 0 0;
	left: 6px;	
}

.comparisonPastValueRight {
	position:absolute;
	font-size: 18px;
	text-align: right;
    color:white;
	width: 936px;
	margin: 0 6px 0 -6px;
}

.comparisonBarGraph {
	position:absolute;
}

.barGraphText {
	position:absolute;
	font-size: 48px;
	left: 10px;
	bottom: 15px;
	/*text-decoration: underline;*/
	border-bottom-style: solid;
	line-height:48px;

}

.barGraphValue {
	position:absolute;
	font-size: 32px;
	left: 10px;
	bottom: 12px;
	line-height:2px;
	color: white;
}



.countCandidate {
	position: relative;
	font-size: 48px;
	border-bottom-style: solid;
	margin: 0 0 0 0;
	line-height:48px;
	
}

.countBigNumber {
	position: relative;
	font-size: 128px;
	margin: 0 0 0 0;	
	line-height: 128px;
	color: white;	
}

.spectrumTitle {

	position:relative;
	font-size: 128px;
	margin: 0px -160px 0px 160px;
	padding: 0px 0px 0px 0px;
	line-height:128px;

}

.spectrumGradientPurpleRed {

	background: #652d6a; /* Old browsers */
	background: -moz-linear-gradient(top, #652d6a 0%, #ff4237 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#652d6a), color-stop(100%,#ff4237)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #652d6a 0%,#ff4237 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #652d6a 0%,#ff4237 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #652d6a 0%,#ff4237 100%); /* IE10+ */
	background: linear-gradient(to bottom, #652d6a 0%,#ff4237 100%); /* W3C */

}

.spectrumPointer {
	height: 100px;
	position: absolute;
}

.spectrumDottedLine {
	height:3px; 
	top:50px; 
	position:relative;
}

.spectrumDottedLineRight {
	left: -184px;
}

.spectrumText {
	position:absolute;
	font-size: 48px;
	left: 10px;
	bottom: -5px;
	/*text-decoration: underline;*/
	border-bottom-style: solid;
	line-height:48px;
	color: black;

}

.spectrumValue {
	position:absolute;
	font-size: 32px;
	left: 10px;
	bottom: -18px;
	line-height:24px;
	color: white;
}

.spectrumLineContainer {
	position:absolute;
	height: 50px;
	float:left;
}

.spectrumPush-3 {
	margin:0 -456px 1.5em 456px;
}

