<div id="landingWrapper" class="container">
	<span id="landingTitle" class="franklinDemiCompIt push-0">ReConstitution2012</span>
	<span id="landingObama" class="franklinDemiComp gray60">OBAMA</span>
	<span id="landingVersus" class="franklinDemiComp gray60">VS</span>
	<span id="landingRomney" class="franklinDemiComp gray60">ROMNEY</span>
	<span id="landingSubTitle" class="franklinDemiCompIt gray200">A LIVE DECONSTRUCTION OF THE US PRESIDENTIAL DEBATES</span>
	<div id="landingSubTitleDiv"></div>
	<div id="landingButtonBox" class="push-4">
		<% for (var i=0; i<3; i++){ %>
			<div id="landingButton<%= i %>" class="landingButtonHolder">
				<span class="landingButton franklinDemiCompIt gray60 span-2"><%= "WATCH DEBATE "+(i+1) %></span>
				<span class="landingArrow gray60 franklinDemi">></span>
				<span class="landingDate franklinDemiCompIt gray60 span-2"><%= "October "+dates[i].getUTCDate()+", "+dates[i].getFullYear()+" "+dates[i].getHours()%12+" PM EST" %></span>
			</div>
			<% if(i<2) { %>
			 	<hr class="landingRule gray60"></hr> 
			 <% } %>
		<% } %>
	</div>
	<div id="landingCreditsBox">
		<span class="landingCredits push-0 white franklinBook">Partners</span>
		<span class="landingCredits push-3 white franklinBook">In collaboration with</span>
		<span class="landingCredits push-3 white franklinMed" style="top:36px">Bocoup</br>Tim Branyen</span>
		<span class="landingCredits push-4 white franklinMed" style="top:36px">James Pennebaker, UT Austin</br>Cindy Chung, UT Austin</span>
	</div>
</div>