<div id="navLeft">
	<div id="navTimeline">
	  <div id="navProgressBar"></div>
	  <div id="navProgressMarker"></div>
	</div>
	<div id="navBar">
		<span id="reconTitle" class="franklinMedIt navTitle gray60" id="navTitle">ReConstitution</span>
		<span class="franklinBook navSubTitle gray60" id="navDebateNum">1st Debate</span>
		<span class="franklinBook navSubTitle gray60">|</span>
		<span class="franklinBook navSubTitle gray60" id="navDate"><!--October 3, 2012--></span>
		<!-- <span class="franklinBook navSubTitle gray60">|</span>
		<span class="franklinMed navSubTitle cherry" id="navTime">9:14 PM</span> -->
	</div>
</div>

<div id="navLeftButtons">
	<div id="navGoLiveButton" class="franklinDemiComp navButton cherry"> GO LIVE! </div>
	<div id="navPlaybackButton" class="franklinDemiComp navButton cherry"> 1x </div>
	<div id="navComparisonButton" class="franklinDemiComp navButton cherry"> STATS </div>
	<div id="navTranscriptButton" class="franklinDemiComp navButton cherry"> TRANSCRIPT </div>
</div>

<!--
<div id="navRight">
	<div id="navModeButtons">
	  <div id="navPlaybackButton" class="franklinDemiComp navButton cherry"> 1x </div>
	  <div id="navTranscriptButton" class="franklinDemiComp navButton cherry"> TRANSCRIPT </div>
	  <div id="navComparisonButton" class="franklinDemiComp navButton cherry"> STATS </div>
	</div>
</div>
-->

<div id="navInstructions">
<div class="container">
	<div class="franklinDemiCompIt navInstructionsText push-0">
	You scroll & click.<br> They expose their<br>hidden secrets.
	</div>
</div>
<div id="backgroundInstructions"> </div>
</div>
