<div id="navLeft">
	<div id="navTimeline">
	  <div id="navProgressBar"></div>
	  <div id="navProgressMarker"></div>
	</div>
	<div id="navBar">
		<span id="reconTitle" class="franklinMedIt navTitle gray60" id="navTitle">ReConstitution</span>
		<span class="franklinBook navSubTitle gray60" id="navDebateNum">1st Debate</span>
		<span class="franklinBook navSubTitle gray60">|</span>
		<span class="franklinBook navSubTitle gray60" id="navDate"><!--October 3, 2012--></span>
		<span class="franklinBook navSubTitle gray60">|</span>
		<span class="franklinMed navSubTitle sky" id="navTime">9:14 PM</span>
	</div>
</div>

<div id="navRight">
	<div id="navModeButtons">
	  <div id="navPlaybackButton" class="franklinDemiComp navButton gray60 active"> 1x </div>
	  <div id="navTranscriptButton" class="franklinDemiComp navButton gray60 inactive"> transcript </div>
	  <div id="navComparisonButton" class="franklinDemiComp navButton gray60 active"> stats </div>
	</div>
</div>


<div id="navInstructions">
<div class="franklinDemiCompIt navInstructionsText">
Explore by scrolling. <br>click on names and <br>colored words.
</div>
<div id="backgroundInstructions"> </div>
</div>
